<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    >
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <div class="tradingview-widget-copyright">
      <script
        type="text/javascript"
        src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
        async>

        { "symbols": [ { "proName": "FOREXCOM:SPXUSD", "title": "S&P 500" }, {
        "proName": "FOREXCOM:NSXUSD", "title": "Nasdaq 100" }, { "proName":
        "FX_IDC:EURUSD", "title": "EUR/USD" }, { "proName": "BITSTAMP:BTCUSD",
        "title": "BTC/USD" }, { "proName": "BITSTAMP:ETHUSD", "title": "ETH/USD"
        } ], "showSymbolLogo": true, "colorTheme": "dark", "isTransparent":
        false, "displayMode": "adaptive", "locale": "en" }
      </script>
    </div>
    </div>
    <!-- TradingView Widget END -->

    <title>Stock Shout</title>
  </head>

  <body>
    <div class="container-fluid">
      <div class="jumbotron">
        <div class="row">
          <div class="col-12">
            <h1 class="display-2 text-center font-weight-normal">Stock Shout</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex flex-row justify-content-end">
            {{#if logged_in}}
              <button id="logout">Logout</button>
            {{else}}
              <button id="login" class="btn btn-secondary mr-2">Login</button>
              <button id="sign-up" class="btn btn-secondary">Sign up</button>
            {{/if}}
          </div>
        </div>
      </div>

      {{{body}}}

    </div>

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{else}}
      <script src="/js/main.js"></script>
    {{/if}}

  </body>

</html>