<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../../public/css/style.css" />
    <title>Stock Shout</title>
  </head>

  <body>
    <div class="container-fluid">
      <div class="jumbotron">
        <div class="row">
          <div class="col-12">
            <h1 class="display-2 text-center font-weight-normal">Stock Shout</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex flex-row justify-content-end">
            {{#if logged_in}}
              <button id="logout">Logout</button>
            {{else}}
              <button id="login" class="btn btn-secondary mr-2">Login</button>
              <button id="sign-up" class="btn btn-secondary">Sign up</button>
            {{/if}}
          </div>
        </div>
      </div>

      {{{body}}}

    </div>

    {{#if logged_in}}
      {{! <script src="/js/logout.js"></script> }}
    {{else}}
      <script src="/js/main.js"></script>
    {{/if}}

  </body>

</html>