<div class="row">
  <div class="col-12">
    <h1 class="text-center">Welcome to Stock Shout! Please log in or Sign up!</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <img
      src="https://i.imgur.com/4taTiID.jpg"
      alt="money"
      width="50%"
      class="responsive mx-auto d-block pt-5"
    />
  </div>
</div>