<div class="row">
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Tweets about selected symbol
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Searched Symbol</th>
        <td>Searched Symbol tweets</td>
      </tr>
    </tbody>
  </table>
</div>

    {{!-- <div class="row">
        <div class="col-12">
          <form class="form-inline">
            <div class="form-group">
              <input
                placeholder="Enter a stock symbol"
                type="stock"
                class="form-control mr-2"
                id="stock"
              />
            </div>
            <div class="form-group">
              <label for="tweets"></label>
              <input
                id="entersymbol"
                placeholder="Enter a stock symbol to see the latest tweets and financial info!"
                type="tweets"
                class="form-control mr-2 w-"
                id="tweets"
              />
            </div>
            <button id="submit" type="submit" class="btn btn-success">
              Search
            </button>
          </form>
        </div>
      </div> --}}