<div class="row flex-row justify-content-end">
        <div class="col-12">
          
            {{tweets}}
            <button class="btn btn-success" > Add to Watchlist</button>
            <button class="btn btn-success ml-2" > Delete from Watchlist</button>
            <button class="btn btn-success ml-2" > Back</button>
        </div>
    </div>